@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.social-icon {
  text-decoration: none;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.08);

  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;

  transition: all 0.3s ease-out;
  animation: float 3s ease-in-out infinite;
}

.social-icon:hover {
  transform: scale(1.05) translateY(-2px);
}

.social-icon:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ffffff;
}

.footer-link {
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.footer-link:hover {
  color: #ffbf00;
}

/* --- CRAFTY LOADER ANIMATIONS --- */

.crafty-spinner {
  width: 50px;
  height: 50px;
  position: relative;
  animation: crafty-rotate 2.5s infinite linear;
}

.crafty-block {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 4px;
  animation: crafty-assemble 2.5s infinite ease-in-out;
}

.crafty-block:nth-child(1) {
  background-color: #507662;
  top: 0;
  left: 0;
}
.crafty-block:nth-child(2) {
  background-color: #c76536;
  top: 0;
  right: 0;
}
.crafty-block:nth-child(3) {
  background-color: #c76536;
  bottom: 0;
  left: 0;
}
.crafty-block:nth-child(4) {
  background-color: #507662;
  bottom: 0;
  right: 0;
}

@keyframes crafty-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes crafty-assemble {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5) translate(0, 0);
    border-radius: 50%;
  }
}

.crafty-block:nth-child(1) {
  animation-name: block-move-1;
}
.crafty-block:nth-child(2) {
  animation-name: block-move-2;
}
.crafty-block:nth-child(3) {
  animation-name: block-move-3;
}
.crafty-block:nth-child(4) {
  animation-name: block-move-4;
}

@keyframes block-move-1 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(12px, 12px);
  }
}
@keyframes block-move-2 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-12px, 12px);
  }
}
@keyframes block-move-3 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(12px, -12px);
  }
}
@keyframes block-move-4 {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-12px, -12px);
  }
}
